body {
  background-color: #dddddd;
  height: 100vh;
  color: aliceblue;
}

.nav-wrapper {
  background-color: #222831;
}

.brand-logo {
  color: #027959;
}

.card {
  background-color: #30475e;
  margin-top: 50px;
  border-radius: 20px;
}

#item-list li {
  background-color: #30475e;
}

#total-calories {
  margin-top: 50px;
  color: black;
}

ul {
  color: aliceblue;
}

ul i {
  color: aliceblue;
}

ul li {
  margin-top: 20px;
  border-radius: 10px;
}

.clear-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-btn {
  background-color: #d72323;
}

.delete-btn {
  background-color: #df2055;
}

.update-btn {
  background-color: #00adb5;
}

.add-btn {
  background-color: #f05454;
}

.back-btn {
  background-color: #ffffff;
  color: #232121;
}

label {
  font-weight: 800;
  color: black;
}

.btn {
  border-radius: 5px;
}
